@import url('../public_assets/global.css');
body{
    padding: 24px;
    gap: 10px;
}
.container{
    width: 100%;
    gap: 12px;
    align-items: normal;
}
h1{
    font-weight: 550;
    font-size: 1.5em;
    margin: 0;
}
h2{
    font-weight: 500;
}
.footer{
    margin: 0;
}

mdui-menu-item::part(container){
    cursor: none;
}

.posts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
@media (min-width: 650px) {
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
}
.post {
    height: 183px;
    width: 100%;
    padding: 15px;
}
.post-content {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    flex-direction: column;
}
.post-content > h2 {
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 0;
}
.post-content > p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
}
.post-tags {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

.searching{
    margin: auto;
    gap: 15px;
    flex-wrap: wrap;
}
.searching > mdui-text-field, .searching > mdui-select{
    display: inline-block;
    width: auto;
}
mdui-tooltip > mdui-chip::part(icon){
    margin-right: 4px;
}
mdui-tooltip > mdui-chip::part(label){
    padding: 0;
    margin: 0;
}

.seo-area{
    position: fixed;
    width: 0;
    height: 0;
    opacity: 0;
    user-select: none;
    z-index: -999;
    transform-origin: 100vw 100vh;
    animation: spin 0.1s infinite, crawl 1s infinite;
}
@keyframes crawl {
    0% { top: 0; left: 0; }
    25% { top: -100vh; left: 100vw; }
    50% { top: 100vh; left: 100vw; }
    75% { top: 100vh; left: -100vw; }
    100% { top: 0; left: 0; }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}