@import url('../public_assets/global.css');

body {
    padding: 24px;
    gap: 10px;
}

.container {
    align-items: normal;
    width: 100%;
    gap: 12px;
}
h1, p{
    margin: 0;
    font-weight: 400;
    word-break: break-all;
    white-space: pre-wrap;
}
mdui-card{
    padding: 10px;
    margin: 2.5px;
    aspect-ratio: 1/1;
}
img, .svg-fill use{
    width: 40px;
    height: 40px;
}
.svg-fill use{
    fill: rgb(var(--mdui-color-on-background));
}

.link-detail > .v-box{
    align-items: flex-start;
    gap: 15px;
}
.link-detail > .v-box > .h-box{
    gap: 10px;
    width: 100%
}
.link-detail > .v-box > .h-box:first-child{
    width: auto;
}
.link-detail-title{
    margin-bottom: 5px;
}
.link-detail-title > img{
    width: 40px;
}