@import url('mdui/mdui.css');
@font-face {
    font-family: "Wanted Sans Std Variable";
    font-style: normal;
    font-display: swap;
    src: url("../assets/WantedSansStdVariable.woff2") format("woff2-variations");
}
@font-face {
    font-family: 'SHS HWSCVF';
    font-style: normal;
    font-display: swap;
    src: url('../assets/SourceHanSansHWSC-VF.otf.woff2') format('woff2-variations');
}
body{
    background-color: rgb(var(--mdui-color-background));
    font-family: 'Wanted Sans Std Variable', 'SHS HWSCVF';
    color: rgb(var(--mdui-color-on-background));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    cursor: none;
    min-height: 100vh;
    user-select: none;
}
*{
    cursor: none;
}

.cursor{
    display: block;
    position: absolute;
    contain: layout;
    border-radius: 50%;
    border: 2px solid rgb(var(--mdui-color-on-background));
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0.5;
    pointer-events: none;
    transform: translate(-50%, -50%);
    box-shadow: 
        0 0 15px rgb(var(--mdui-color-background)),
        0 0 5px rgb(var(--mdui-color-on-background)), 
        inset 0 0 10px rgb(var(--mdui-color-background)),
        inset 0 0 5px rgb(var(--mdui-color-on-background));
    transition: 
        width 0.1s cubic-bezier(0.3, 0.35, 0, 1.00),
        height 0.1s cubic-bezier(0.3, 0.35, 0, 1.00),
        box-shadow 0.1s cubic-bezier(0.3, 0.35, 0, 1.00),
        border 0.1s cubic-bezier(0.3, 0.35, 0, 1.00);
    z-index: 1145141919810;
}
.cursor-active{
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    box-shadow: 
        0 0 15px rgb(var(--mdui-color-background)),
        0 0 10px rgb(var(--mdui-color-on-background)), 
        inset 0 0 10px rgb(var(--mdui-color-on-background));
}

.h-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.v-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.auto-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .auto-box{
        flex-direction: column;
    }
}