@import url('mdui/mdui.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@font-face {
    font-family: "Wanted Sans Std Variable";
    font-style: normal;
    font-display: swap;
    src: url("../assets/WantedSansStdVariable.woff2") format("woff2-variations");
}
body{
    background-color: rgb(var(--mdui-color-surface));
    font-family: 'Wanted Sans Std Variable', 'Noto Sans SC';
    color: rgb(var(--mdui-color-on-surface));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    cursor: none;
    min-height: 100vh;
    user-select: none;
}
::selection{
    background-color: rgb(var(--mdui-color-primary-container));
    color: rgb(var(--mdui-color-on-primary-container));
}
*{
    cursor: none;
}

.cursor{
    display: block;
    position: fixed;
    border-radius: 50%;
    border: 2px solid rgb(var(--mdui-color-on-surface));
    width: 20px;
    height: 20px;
    opacity: 0.5;
    pointer-events: none !important;
    transform: translate(-50%, -50%);
    box-shadow:
        0 0 15px rgb(var(--mdui-color-surface)),
        0 0 5px rgb(var(--mdui-color-on-surface)),
        inset 0 0 10px rgb(var(--mdui-color-surface)),
        inset 0 0 5px rgb(var(--mdui-color-on-surface));
    transition:
        width 0.1s cubic-bezier(0.3, 0.35, 0, 1.00),
        height 0.1s cubic-bezier(0.3, 0.35, 0, 1.00),
        box-shadow 0.1s cubic-bezier(0.3, 0.35, 0, 1.00),
        border 0.1s cubic-bezier(0.3, 0.35, 0, 1.00);
    z-index: 9999;
    touch-action: none;
}
.cursor-active{
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    box-shadow: 
        0 0 15px rgb(var(--mdui-color-surface)),
        0 0 10px rgb(var(--mdui-color-on-surface)), 
        inset 0 0 10px rgb(var(--mdui-color-on-surface));
}

.h-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.v-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.auto-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 620px) {
    .auto-box{
        flex-direction: column;
    }
}