@import url('../../public_assets/global.css');
@import url('../../../node_modules/highlight.js/styles/atom-one-dark.css');
@import url('../../../node_modules/viewerjs/dist/viewer.min.css');
@font-face {
    font-family: 'Consolas';
    src: local('Consolas'), local('Consolas-Regular'),
    url('../../assets//Consolas.ttf')
}
html {
    scroll-behavior: smooth;
}
body{
    display: block;
    padding: 0 20vw;
    padding-bottom: 50px;
}
main{
    user-select: text;
    width: 60vw;
    margin-top: 16px;
}
@media screen and (max-width: 768px) {
    body{padding: 10vw;}
    main{width: 80vw;}
}
mdui-list.toc-list{
    margin: 12px;
}
mdui-list-item::part(container), .viewer-button, .viewer-toolbar > ul > li {
    cursor: none;
}
mdui-top-app-bar-title{
    user-select: text;
}
.cate-tag{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.cate-tag > mdui-tooltip > mdui-chip::part(icon){
    margin-left: 4px;
    margin-right: 4px;
}
.cate-tag > mdui-tooltip > mdui-chip::part(label){
    padding: 0;
    margin: 0;
}

/* markdown */
.article h1,.article h2,.article h3,.article h4,.article h5,.article h6{
    margin: 0.5em 0;
    font-weight: 600;
    scroll-margin-top: 4rem;
}
pre.hljs > code{
    display: block;
    background-color: rgb(var(--mdui-color-surface-container-dark));
    border-radius: var(--mdui-shape-corner-small);
}
pre.hljs{
    border-radius: var(--mdui-shape-corner-small);
    background-color: rgb(var(--mdui-color-surface-container-dark));
}
.article img {
    background-color: rgb(var(--mdui-color-surface-bright));
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.3, 0.35, 0, 1.00);
    max-width: 100%;
    width: 100px;
    height: 100px;
}
.article img.loaded {
    opacity: 1;
    width: auto;
    height: auto;
}
.article ul, .article ul{
    margin: 0 !important;
}
.article ol{
    margin: 10px 0 !important;
}
.article li::marker{
    color: rgb(var(--mdui-color-primary)) !important;
}
.article table{
    table-layout: fixed;
}
.article iframe{
    width: 100%;
}
.article span.hidden-text{
    display: inline-block;
    line-height: 0;
    font-size: 0;
    vertical-align: baseline;
    user-select: all;
    color: transparent;
}
.article u.unhidden{
    border: .1rem solid rgb(var(--mdui-color-primary));
}