@import url(public_assets/global.css);

body{
    justify-content: center;
    padding: 30px;
    height: 100vh;
    box-sizing: border-box;
}
h1{
    margin: 15px;
    font-weight: 400;
    font-size: 4em;
}
.h-box{
    gap: 10px;
}
p{
    white-space: pre-wrap;
}