@import url(public_assets/global.css);

.welcome-card{
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    margin-top: 20px;
    box-sizing: border-box;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px;
}

.index-icons{
    font-size: 72px;
}
.index {
    gap: 5%;
    align-items: normal;
}
.link-card{
    width: 48%;
    padding: 10px;
}
.link-card-content{
    width: 100%;
    gap: 10px;
}
.index > div{
    width: 47%;
}
.index > div > p{
    white-space: pre-wrap;
}